.right{
    margin-left: auto;
}

.nav-item{
    display: inherit;
}
.btn{
    margin-left: 20px;
}
.card{
    min-height: 100px;
}
.username{
    font-weight: bold;
    text-align: right;
    width: 100px;
}
.message{
    color: skyblue;
  margin-left: 20px;
}
#message-block, .message-block{
    display: inline-flex
}